$primary:rgb(141, 232, 141);
$Dark_primary:rgb(3, 76, 3);
$light_primary:rgb(139, 236, 139);
$veryLight_primary:rgb(203, 240, 203);
$white:white;
$darkgray:rgb(80, 80, 80);
$lightGray:rgb(175, 175, 175);
$very_lightGray:rgb(235, 235, 235);

// fonts

$fontFamilly:'Verdana, Geneva, Tahoma, sans-serif';
$lightFont:600;
$BoldFont:800;

